---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="About Us">
  <div class="px-3 px-lg-5 mx-auto d-flex mt-5">
    <a href="/" class="text-decoration-none text-black">Homepage</a>
    <div>
      <img src="/assets/images/png/right_arrow_dark.png" alt="" />
    </div>
    <a href="/about-us" class="text-decoration-none text-black">About us</a>
  </div>
  <div
    class="px-3 px-md-3 px-lg-5 mx-auto mt-5 d-flex justify-content-center align-items-center gap-5"
  >
    <div>
      <div class="" style="max-width: 500px;">
        <h5 class="lh-lg">Let's get to know Luminae</h5>
        <h3 class="lh-lg">
          Providing the best experience to make your <span class="text-primary"
            >Online Shopping</span
          >
        </h3>
      </div>
      <div class="">
        <p class="w-75 lh-lg">
          At Luminae, we are more than just an online store – we are your
          ultimate destination for an unparalleled shopping experience. Our
          journey began with a simple yet powerful idea: to create a platform
          that not only offers a wide array of products but also fosters a sense
          of community and connection among our customers.
        </p>
      </div>
      <div class="d-flex align-items-center justify-content-start gap-5">
        <div>
          <h4 class="text-primary">20+</h4>
          <p>Shopping category</p>
        </div>
        <div>
          <h4 class="text-primary">10+</h4>
          <p>Different Territory</p>
        </div>
        <div>
          <h4 class="text-primary">4M+</h4>
          <p>Happy Client</p>
        </div>
      </div>
    </div>
    <div
      class="flex-column justify-content-center align-items-center d-none d-md-flex d-md-flex"
    >
      <div
        class="position-relative z-index-1 shadow rounded-circle"
        style="margin-bottom:-18px; background:#EAF3FB; width:60px; height:60px;"
      >
        <img
          class="p-3"
          src="/assets/images/png/double_quote.png"
          alt=""
          style="width:60px; height:60px;"
        />
      </div>
      <div class="rounded shadow" style="background:#EAF3FB; width:230px;">
        <p class="text-center p-4">
          We have made many people satisfied with our Platform
        </p>
      </div>
    </div>
  </div>

  <div
    class=" px-md-3 px-lg-5 d-md-flex d-lg-flex justify-content-cnter align-items-center flex-sm-wrap flex-md-nowrap gap-4"
  >
    <div class="d-block d-md-none d-lg-none" style="background:url()">
      <div class="w-100">
        <img
          class="w-100"
          src="/assets/images/svg/we_offer_the_best_service.svg"
          alt=""
        />
      </div>
    </div>
    <div class="px-3">
      <div class="" style="max-width: 500px;">
        <p>Know our service</p>
        <h1 class="lh-lg">
          We offer the best service that will<span class="text-primary"
            >make it easier</span
          >
        </h1>
      </div>
      <div class="">
        <p>
          Discover unparalleled convenience with our top-tier service, designed
          to make your shopping experience smoother than ever.Experience
          shopping made effortless through our exceptional service that puts
          your needs at the forefront. Elevate your shopping journey with our
          unmatched service, redefining convenience and satisfaction.
        </p>
      </div>
      <div class="d-flex flex-column gap-3">
        <div class="d-flex gap-3">
          <div class="bg-white rounded shadow d-flex flex-column align-items-center justify-content-center gap-3 px-3">
          <div class="pt-3">
            <img src="/assets/images/png/double_quote.png" alt="">
          </div>
          <h6 class="text-center fw-bolder text-black">Full category shop</h6>
          <p class="text-center text-secondary">Explore our comprehensive online store where you'll find a diverse range of products across multiple categories, all curated to cater to your various needs and ...</p>
          <button class="bg-primary w-100 rounded border-none shadow text-white py-2">Read more</button>
        </div>
        <div class="bg-white rounded shadow d-flex flex-column align-items-center justify-content-center gap-3 px-3 py-3">
          <div class="">
            <img src="/assets/images/png/double_quote.png" alt="">
          </div>
          <h6 class="text-center fw-bolder text-black">Full category shop</h6>
          <p class="text-center text-secondary">Explore our comprehensive online store where you'll find a diverse range of products across multiple categories, all curated to cater to your various needs and ...</p>
          <button class="bg-primary w-100 rounded border-none shadow text-white py-2">Read more</button>
        </div>
        </div>
        <div class="d-flex gap-3">
          <div class="bg-white rounded shadow d-flex flex-column align-items-center justify-content-center gap-3 px-3">
          <div class="pt-3">
            <img src="/assets/images/png/double_quote.png" alt="">
          </div>
          <h6 class="text-center fw-bolder text-black">Full category shop</h6>
          <p class="text-center text-secondary">Explore our comprehensive online store where you'll find a diverse range of products across multiple categories, all curated to cater to your various needs and ...</p>
          <button class="bg-primary w-100 rounded border-none shadow text-white py-2">Read more</button>
        </div>
        <div class="bg-white rounded shadow d-flex flex-column align-items-center justify-content-center gap-3 px-3 py-3">
          <div class="">
            <img src="/assets/images/png/double_quote.png" alt="">
          </div>
          <h6 class="text-center fw-bolder text-black">Full category shop</h6>
          <p class="text-center text-secondary">Explore our comprehensive online store where you'll find a diverse range of products across multiple categories, all curated to cater to your various needs and ...</p>
          <button class="bg-primary w-100 rounded border-none shadow text-white py-2">Read more</button>
        </div>
        </div>
      </div>
    </div>
    <div class="w-100 h-100 d-none d-md-block">
        <img
          class="w-100 "
          style=""
          src="/assets/images/svg/we_offer_the_best_service_md.svg"
          alt=""
        />
      </div>
  </div>
  <div class="d-flex px-5 align-items-center justify-content-center py-5">
    <div class="bg-dark p-5 h-100" style="347px">
      <h2 class="text-white fw-bold fs-1" style="347px">Tell us about your <span class="text-warning">Concerns</span></h2>
      <form action="" class="gap-3">
        <label class="text-white-50 my-2" for="name">Name</label>
        <div class="d-flex bg-dark border border-light rounded gap-2 my-2 p-1">
          <div class="">
            <img src="/assets/images/png/profile_icon.png" alt="">
          </div>
        <input placeholder="Enter Yoiur Name" class=" bg-dark border-0 outline-none text-white-50" type="text">
        </div>
         <label class="text-white-50 my-2" for="name">Phone</label>
        <div class="d-flex bg-dark border border-light rounded gap-2 my-2 p-1">
          <div class="">
            <img src="/assets/images/png/profile_icon.png" alt="">
          </div>
        <input placeholder="Enter Yoiur Name" class=" bg-dark border-0 outline-none text-white-50" type="text">
        </div>
         <label class="text-white-50 my-2" for="name">Email</label>
        <div class="d-flex bg-dark border border-light rounded gap-2 my-2 p-1">
          <div class="">
            <img src="/assets/images/png/profile_icon.png" alt="">
          </div>
        <input placeholder="Enter Yoiur Name" class=" bg-dark border-0 outline-none text-white-50" type="text">
        </div>
         <label class="text-white-50 my-2" for="name">Description</label>
        <div class="d-flex bg-dark border border-light rounded gap-2 my-2 px-1 py-5">
        <input placeholder="Enter Yoiur Name" class=" bg-dark border-0 outline-none text-white-50" type="text">
        </div>
        <button class="text-white bg-primary border-0 p-2 w-100 mt-3">Send</button>
      </form>
    </div>
    <div>
      <img src="/assets/images/svg/form_img_lg.svg" alt="" style="548px">
    </div>
  </div>
</PageLayout>
